/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    display: inline;
    text-decoration: none;
    color: #243e63;
}

/* NAVIGATION */

#landing {
    padding: 0 32px;
}

nav {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-top: 32px;
    padding-bottom: 10px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    display: flex;
    margin-left: 8px;
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .35px;
}

.nav__link--login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 500px;
    background: #6415ff;
    color: #fff;
}